.Navbar{
    /* Rectangle 3 */
z-index: 1;
position: absolute;
width: 1512px;
height: 144px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);

}

.logo{
/* Logo */

position: absolute;
width: 176px;
height: 80px;
left: 25px;
top: 34px;

}


.filter{
    /* Filters */

position: absolute;
width: 91px;
height: 36px;
left: 271px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

color: #000000;


}

.vector{
position: absolute;
width: 20.42px;
height: 10.21px;
left: 376px;
top: 76px;
}

.aboutUs{
position: absolute;
width: 135px;
height: 36px;
left: 471px;
top: 59px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
color: #000000;
}

.blog{
position: absolute;
width: 65px;
height: 36px;
left: 692px;
top: 59px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
color: #000000;
}

.earning{
    position: absolute;
    width: 280px;
height: 52px;
top: 51px;
left: 796px;
border-radius: 18px;
border: 2px solid #047E70;
background-color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #000000;
}

.earning:hover{
    background-color: #047E70;
    color: #FFFFFF;
}

.login{
position: absolute;
width: 144.03px;
height: 49.91px;
left: 1159.5px;
top: 45px;
border: 2px solid black;
border-radius: 23px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #000000;
background-color: #FFFFFF;
}

.signup{
position: absolute;
width: 144.03px;
height: 49.91px;
left: 1320.47px;
top: 45px;
border-radius: 23px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
text-align: center;
background-color: #047E70;
color: #FFFFFF;
}


